


<body class = "welcome">
  
  <h1>GROWIN' SEASON</h1>
  
  <hr class = "topline">
  
  <div class = "summary">
  <h3>find out the weekly harvest from your local CSA, Farmer, or Market and get on the spot recipes for the incoming crop. Enter your zip code below!</h3>
  </div>
  
  <hr class = "bottomline">

  <form action = "submit" class = "customer_search">
  <input type = "text" class = "customer_zip" placeholder="ENTER YOUR ZIP CODE"><button class = "customer_enter">SUBMIT</button>
  </form>
  
  
  <div class = "nav">
    
    <% if user_signed_in? %>
    <h4>WELCOME BACK, <%= current_user.email %> - JUST CLICK HERE UPDATE YOUR HARVEST LIST!</h4>
    <p class = "links">
        - <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> or
        <%= link_to 'Edit Your User Info', edit_user_registration_path, :class => 'navbar-link' %> -
     </p>
      <% else %>
         <h4>ARE YOU A FARMER OR MANAGER AND WANT TO REGISTER TO KEEP YOUR CUSTOMERS UPDATED ON YOUR HARVEST?</h4>

      <p class = "links">
        - <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> or
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> -
      </p>
    <% end %>


    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  </div>

</body>